@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.background-login {
    background-image: url("../img/bg-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.forgot-password-card {
    position: absolute;
    width: 556px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #ff4649;
    line-height: 60px;

    margin-top: 36px;
}

.title p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    margin-top: -20px;
}

.title h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    margin-top: 20px;
}

.forgot-password-form {
    width: 100%;
    /* background-color: #ff4649; */
    padding: 0 62px;
}

.forgot-password-form form input[type="text"],
input[type="password"] {
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 50px;
    border: 3px solid #d0d0d0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 0 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    margin-top: -25px;
}
.forgot-password-form form input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 3px solid #f6a8a8;
}

.forgot-password-form form .label-form-login {
    margin-top: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.forgot-password-form form .form-check input[type="checkbox"] {
    display: none;
}

.forgot-password-form
    form
    .form-check
    input[type="checkbox"]
    + .check-login-label {
    display: block;
    margin-top: 10px;
    margin-left: -20px;
    cursor: pointer;
}

.forgot-password-form
    form
    .form-check
    input[type="checkbox"]
    + .check-login-label:active:before {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.forgot-password-form
    form
    .form-check
    input[type="checkbox"]
    + .check-login-label:before {
    font-size: 12px;
    transition: 0.2s;
    color: transparent;
    content: "\2714";
    border: 2px solid #d0d0d0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: inline-block;
    width: 2em;
    height: 2em;
    padding-left: 0.4em;
    padding-bottom: 0.5em;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.forgot-password-form
    form
    .form-check
    input[type="checkbox"]:checked
    + .check-login-label:before {
    transition: 0.2s;
    background-color: #ff8e90;
    border: 2px solid #ff8e90;
    color: #ffffff;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.forgot-password-form form .btn-login {
    background-color: #ff4649;
    border: 0px;
    border-radius: 50px;
    width: 100%;
    height: 60px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 30px;
}

.forgot-password-form form .info-container {
    margin-top: 5px;
}

.forgot-password-form form .info-container .info-forgot-password {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

.footer-card {
    text-align: center;
    margin-top: 30px;
}

@media screen {
}
