@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.background-login {
    background-image: url("../img/bg-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}
